<div class="p-2">
    <ng-container *ngFor="let item of list; trackBy: trackByIndex">
        <div intersectionObserver [intersectionDebounce]="0" (visibilityChange)="onVisibilityChanged(item, $event)" class="max-w-sm rounded overflow-hidden shadow-lg px-5 py-5 m-2">
            <div class="px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
                <div class="flex">
                    <div class='flex-grow content-center text-6xl font-sans'>
                        {{ item }}
                    </div>
                    <visibility-indicator [status]="visibilityStatus[item]"></visibility-indicator>
                </div>
            </div>
        </div>
    </ng-container>
</div>
